[submodule "compose-multiplatform"]
	path = compose-multiplatform
	url = git@github.com:JetBrains/compose-multiplatform.git
	branch = master
[submodule "mosaic"]
	path = mosaic
	url = git@github.com:JakeWharton/mosaic.git
	branch = trunk
[submodule "compose-multiplatform-core"]
	path = compose-multiplatform-core
	url = git@github.com:JetBrains/compose-multiplatform-core.git
	branch = jb-main
[submodule "gtk-kn"]
	path = gtk-kn
	url = git@gitlab.com:petuska/gtk-kn.git
	branch = master
